/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

/* Top Banner */
.top-banner {
    height: 10px;
    background: #001f3d;
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Top Sections (Header and About) */
.top-section {
    background-color: #f0f0f0;
}

/* Header */
header {
    color: #333;
    padding: 2rem 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap; /* Added */
}

.name-animation {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5rem;
    color: #333;
    text-align: center; /* Added */
}

.typing {
    display: inline-block;
    overflow: hidden;
    border-right: 0.15em solid #333;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #333 }
}

.header-top .icons {
    display: flex;
    gap: 1rem;
    order: 1; /* Added */
}

.header-top .social-icon {
    color: #333;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header-top .social-icon:hover {
    color: #00bcd4;
}

.header-top .resume-link {
    font-size: 1rem;
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: 'Source Code Pro', monospace;
    order: 2; /* Added */
}

.header-top .resume-link i {
    font-size: 1rem;
}

header .title {
    font-size: 1.2rem; /* Adjusted */
    color: #555;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 1rem;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0